<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> Chat do Guia </h1>
    <div id="chat">

    </div>
    <input type="text" name="" id="msg"><br>
    <input type="text" name="" id="username" placeholder="Seu nome de usuário">
    <button onclick="enviar()">Enviar</button>
    
</body>

<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" 
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" 
    crossorigin="anonymous">
</script>

<script>
    var clienteFrontEnd = io("http://localhost:3000");

    clienteFrontEnd.on("disconnect", ()=>{
        console.log("Desconectado")
    })

    // FUNÇÃO PARA CAPTURAR A MENSAGEM NOS INPUTS E ENVIAR A MENSAGEM ATRAVES DO SOCKET
        function enviar(){
            var msgField = document.getElementById("msg");
            var usernameField = document.getElementById("username");

            var msg = msgField.value;
            var username = usernameField.value;

            clienteFrontEnd.emit("msg",{
                msg: msg,
                username: username
            })

        }

</script>
</html>