<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>Document</title>
</head>
<style>
    #chat{
        max-width: 500px;
        max-height: 500px;
        background-color: aliceblue;
        overflow-y: scroll;
    }
</style>

<body>
    <h1> Chat do Guia </h1>
    <div id="chat">

    </div><br>
    <input class="form-control" type="text" name="" id="msg" placeholder="Mensagem..."><br>
    <input class="form-control" type="text" name="" id="username" placeholder="Seu nome de usuário"><br>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="enviar()">Enviar</button>

</body>
   <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
    <script src="../public/js/bootstrap.min.js"></script>


<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" 
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" 
    crossorigin="anonymous">
</script>

<script>
    var clienteFrontEnd = io("http://localhost:3000");

    clienteFrontEnd.on("disconnect", ()=>{
        console.log("Desconectado")
    })

    clienteFrontEnd.on('showmsg',(data) => {
        console.log(data);
        var chat = document.getElementById("chat");
        //criando um novo parágrafo
        var p = document.createElement('p');
        //adicionando os dados passados do backend para o parágrafo
        p.innerHTML = 'Id: '+data.id+' Nome: '+ data.username +': '+data.msg;
        //inserindo o parágrafo na página dentro da div
        chat.append(p);
    })

    // FUNÇÃO PARA CAPTURAR A MENSAGEM NOS INPUTS E ENVIAR A MENSAGEM ATRAVES DO SOCKET
        function enviar(){
            var msgField = document.getElementById("msg");
            var usernameField = document.getElementById("username");

            var msg = msgField.value;
            var username = usernameField.value;

            clienteFrontEnd.emit("msg",{
                id: clienteFrontEnd.id,
                msg: msg,
                username: username
            })

        }

</script>
</html>